<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>index</servlet-name>
  	<display-name>index</display-name>
  	<description></description>
  	<servlet-class>control.index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>infoSach</servlet-name>
  	<display-name>infoSach</display-name>
  	<description></description>
  	<servlet-class>control.infoSach</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>list</servlet-name>
  	<display-name>list</display-name>
  	<description></description>
  	<servlet-class>control.list</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>login</servlet-name>
  	<display-name>login</display-name>
  	<description></description>
  	<servlet-class>control.login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>taikhoan_API</servlet-name>
  	<display-name>taikhoan_API</display-name>
  	<description></description>
  	<servlet-class>DAO.taikhoan_API</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>outsign</servlet-name>
  	<display-name>outsign</display-name>
  	<description></description>
  	<servlet-class>control.outsign</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>docgia_API</servlet-name>
  	<display-name>docgia_API</display-name>
  	<description></description>
  	<servlet-class>DAO.docgia_API</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>order</servlet-name>
  	<display-name>order</display-name>
  	<description></description>
  	<servlet-class>control.order</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>infoSach</servlet-name>
  	<url-pattern>/infoSach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>list</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>taikhoan_API</servlet-name>
  	<url-pattern>/taikhoan_API</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>outsign</servlet-name>
  	<url-pattern>/outsign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>docgia_API</servlet-name>
  	<url-pattern>/docgia_API</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>order</servlet-name>
  	<url-pattern>/order</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>
